
*.textClipping

Data/division_comunal/

Data/division_provincial/

Resources/

\.DS_Store

\.Rhistory

Data/DPA_INE/

Chile_Data_Earthquake\.RData

Data/CHL_adm_shp/

Data/PER_adm_shp/

*.RData

*.aux

*.bbl

*.blg

*.fdb_latexmk

*.fls

*.log

*.out

*.gz

Bahamonde_Earthquake_Paper\.tex

Sub/

*.nav

*.snm

*.toc

Chile_Income_Tax\.pdf

Colombia_Income_Tax\.pdf

Ecuador_Income_Tax\.pdf

figure/denplot:plot:sectoral-1\.pdf

figure/incometax-1\.pdf

figure/year:fixed:effects:plot-1\.pdf

figure/traplot:plot:sectoral-1\.pdf

figure/traplot:plot:sectoral-1 copy 2\.pdf

figure/simulation:plots-1\.pdf
